html{
  background: #E1DFDD
}

body {
  font-family: Algerian;
  background: #E1DFDD
}

.control-next:before {
  color: black
	
}
[dir='rtl'] .control-next:before {

	color:black
}

 .logo {
  height: 89px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #E1DFDD)
}

.site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
  }
